In [ ]:
a=int(input("Enter Your Mark"))
if a >=85:
    print("A Grade")
elif a>=81 and a<85:
    print("A-1 Grade")
elif a>70 and a<=80:
    print("B Grade")
else:
    print("C Grade")

In [ ]:
input("Enter number")

In [ ]:
a=int(input("Enter Your Mark"))
if a >=85:
    print("A Grade")
elif a>=81 and a<85:
    print("A-1 Grade")
elif a>70 and a<=80:
    print("B Grade")
else:
    print("C Grade")

In [ ]:
a=int(input("Enter Your Mark"))
if a >=85:
    print("A Grade")
elif a>=81 and a<85:
    print("A-1 Grade")
elif a>70 and a<=80:
    print("B Grade")
else:
    print("C Grade")

In [ ]:
a=int(input("Enter Your Mark"))
if a >=85:
    print("A Grade")
elif a>=81 and a<85:
    print("A-1 Grade")
elif a>70 and a<=80:
    print("B Grade")
else:
    print("C Grade")

In [ ]:
a=int(input("Enter Your Mark"))
if a >=85:
    print("A Grade")
elif a>=81 and a<85:
    print("A-1 Grade")
elif a>70 and a<=80:
    print("B Grade")
else:
    print("C Grade")

In [ ]:
a=int(input("Enter Your Mark"))
if a >=85:
    print("A Grade")
elif a>=81 and a<85:
    print("A-1 Grade")
elif a>70 and a<=80:
    print("B Grade")
else:
    print("C Grade")

# Pratice if and else clause

In [ ]:

"""

This is multiline comment
"""
print(10)

In [ ]:
#single line comment
"""User will enter the floating point number let say 229.838. Your task to find
    the integer number and remove number after decimal, in this case number would be 229 and 
    then check if that integer portion is an even number or not?
"""
a=float(input("Enter float number"))
a=int(a)
if(a%2==0):
    print("EVEN")
else:
    print("ODD")

In [ ]:
%whos

In [ ]:
%whos

In [8]:
#Write a function 
a =float(input("Enter floating number"))
b=round(a)
if(b>a):
         intPortion=b-1
else:
         intPortion=b
print(intPortion)

Enter floating number889.90
889

In [9]:
n=int(input("Enter number to print whole series"))
a=1
while(a<n):
    print(a)
    a+=1
print("done")

Enter number to print whole series5
1
2
3
4
done

In [15]:
n=int(input("Enter Something -"))
i=1
while True:
    if(i%9==0):
        break;
    else:
        print(i)
        i+=1
print("done")

Enter Something -883
1
2
3
4
5
6
7
8
done

In [25]:
L=[]
for i in range(0,10,3):
    print(i)
    L.append(i**2)
print(L)

0
3
6
9
[0, 9, 36, 81]

In [33]:
S={"apple",8.9, "cherry"}
i=1;
for x in S:
    print(x)
    i+=1
    if(i==3):
        break
    else:
        pass
else:
    print("Loop termination succecs")
print("Outside of the loop")

8.9
apple
Outside of the loop

In [36]:
D={"Book":44, "Cherry":"game", "Rakesh":26, "krka":2992.90}
for x in D:
    print(x, D[x])

Book 44
Cherry game
Rakesh 26
krka 2992.9

In [61]:
"""Given list of numbers i.e [1,2,4,-5,7,8,9,3,2], make another list that contains all the item 
in sorted order from min to max. i.e your result will be another list like[-5,1,2,2,3,4,7,8,9]
"""

first=L[0]
L=[1,2,4,-5,7,8,9,3,2]
for i in range(len(L)):
    for j in range (i, len(L)):
        if(L[i]>L[j]):
            temp=L[j]
            L[j]=L[i] 
            L[i]=temp
                                   
print(L)

[-5, 1, 2, 2, 3, 4, 7, 8, 9]

In [62]:
def printDailyWork():
    print("I have complete my task")
    print("need new task")

In [64]:
print(printDailyWork())

I have complete my task
need new task
None

In [65]:
printDailyWork()

I have complete my task
need new task

In [66]:
3+0

3

In [67]:
printDailyWork()

I have complete my task
need new task

In [69]:
def printDailyTask2():
    """This is my sample documention about function
    """
    print("This is my second function")

In [74]:
help(printDailyTask2)

Help on function printDailyTask2 in module __main__:

printDailyTask2()
    This is my sample documention about function

In [15]:
x=[]
for i in range(1510, 2700):
    if((i%5==0)and(i%7==0)):
        x.append(str(i))
print(','.join(x))

1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [1]:
for i in range(10, 100):
    print(i):

SyntaxError: invalid syntax (<ipython-input-1-58e713ae878d>, line 2)

In [2]:
for i in range(10, 100):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
i =10.5
print(i)

10.5

In [4]:
i=int(i)

In [5]:
print(i)

10

In [6]:
String a =10293
print(a)

SyntaxError: invalid syntax (<ipython-input-6-3d6f95e17e25>, line 1)

In [7]:
str a= 10293

SyntaxError: invalid syntax (<ipython-input-7-fdbbe4aaa928>, line 1)

In [11]:
str

str

In [12]:
str = rkaesh

NameError: name 'rkaesh' is not defined

In [13]:
str s =rakesshz

SyntaxError: invalid syntax (<ipython-input-13-666cae1e39bd>, line 1)

In [14]:
a ="9832893982"

In [15]:
b=int(a)

In [16]:
print(b)

9832893982

In [1]:
import numpy as np

In [4]:
rakesh = np.array([1,2,3,4,5])

In [5]:
rakesh[2]

3

In [8]:
print(np.__version__)

1.19.2

In [9]:
print(type(rakesh))

<class 'numpy.ndarray'>

In [11]:
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [13]:
np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

In [14]:
print(np.array(34).ndim)

0

In [17]:
print(np.array([1,2,3,4,5,6]).ndim)

1